@font-face {
    font-family: 'EnFont';
    src: url('../Fonts/A/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'EnFontB';
    src: url('../Fonts/A/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'FiraCode';
    src: url('../Fonts/FiraCode/FiraCode-Bold.ttf');
}

*{
    font-family: EnFont;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body{
    padding: 0;
    margin: 0;
    background-color: #645ba0;
    cursor: url('../img/cursorMouse/A2.png'), auto;
    background-image: url('../img/background/bgPC2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}



.dor-information{
    position: fixed;
    top: 15px;
    right: 16px;
    background: #a9a2d4;
    padding: 3px 10px;
    border-radius: 10PX;
    box-shadow: 0px 0px 15px 3px #aaa2ee;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.dor-information:hover{
    background: #928ac4;
    box-shadow: 0px 0px 15px 3px #8d86cf;
    cursor: url('../img/cursorMouse/A2.png'), auto;
}

.svg-settings{
    margin-top: 5px;
    transition: all 0.5s ease;
}

.dor-information:hover .svg-settings{
    transform: rotate(150deg);
}

.inf{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    visibility: hidden;
    backdrop-filter: blur(5px);
    background: #938dbda6;
    transform: translateX(-100%);
    padding: 20px;
    color: #0f1d3d;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px #857fad9d;
    z-index: 9999;
    transition: all 0.4s ease;
}

.bgBlur{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    backdrop-filter: blur(3px);
    z-index: 9990;
}

.setting{
    margin: 10px;
}


.changeBgImg{
    margin-top: 15px;
    background: #524d7a;
    padding: 7px 19px;
    font-size: 18px;
    border-radius: 10PX;
    color: #c3bcf3;
    border: none;
    outline: none;
}




.container{
    display: grid;
    backdrop-filter: blur(3px);
    background: #938dbd34;
    box-shadow: 0px 0px 15px 5px #c2b9fc1f;
    margin: 20px;
    text-align: center;
    padding: 15px;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    padding: 35px;
    border: 2px solid #cbc4f070;
}

.textLove{
    color: #cbc4f0;
    font-family: EnFontB;
    font-size: 18px;
    text-shadow: -5px 5px 6px #645ba0;
}

.texts{
    background: #c5bee9;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 10px;
    padding: 3px 5px;
    font-size: 18px;
    padding-left: 10px;
    color: #443d77;
    width: 100%;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 6px 1px #bab4db;
}
.texts:focus{
     box-shadow: 0px 0px 10px 3px #bab4db;
}


.Class-pass{
    font-family: FiraCode;
}

.dorpass{
    display: flex;
    grid: 5px;
}

.texts::placeholder{
    font-family: EnFont;
    color: #625a9b;
    opacity: 0.6;
    transform: translateY(2px);
}



.btn{
    margin-top: 10px;
    background: #605b88;
    box-shadow: 0px 0px 15px 5px #605b8871;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;

    color: #b4adeb;
    text-shadow: -5px 5px 8px #5d539e;
    transition: all 0.3s ease;
    font-family: EnFontB;
}

.btn:hover{
    background: #575180;
    box-shadow: 0px 0px 15px 5px #6d6792;

}

.dor-btn{
    display: flex;
    justify-content: center;
    align-items: center;

}

.loadingGIF{
    position: absolute;
    display: none;
    margin-top: 10px;
    animation: loadingGif 0.8s linear infinite;
}

@keyframes loadingGif{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.showPass{
    background: #605b88;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 8px 2px #605b8871;
    transition: all 0.2s ease-in-out;
}

.svg-eye-show{
    margin-top: 4.2px;
    padding: 0 10px;
}

.svg-eye-close{
    margin-top: 10px;
    padding: 0 11.5px;
}

.showPass:hover{

    box-shadow: 0px 0px 8px 2px #7872a1;
}

.Erorrs{
    color: #4f468a;
    animation: ErorrsAnim 2s infinite reverse;
}







button, button:hover, input[type="button"]{
    cursor: url('../img/cursorMouse/A2.png'), auto;
}


input[type="text"]:hover,
input[type="password"]:hover{
    cursor: url('../img/cursorMouse/type.png'), auto;
} 







@media (max-width: 721px) {

    body{
        background: #9189ce;
        background-image: url('../img/background/bg2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    
    .pc-setting{
        display: none;
    }

}

@media (min-width: 722px) {
    
.dor-information{
    right: auto;
    left: 16px;
}

}