@font-face {
    font-family: 'EnFont';
    src: url('../Fonts/A/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'EnFontB';
    src: url('../Fonts/A/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'FiraCode';
    src: url('../Fonts/FiraCode/FiraCode-Bold.ttf');
}

*{
    font-family: EnFont;
    user-select: none;
}

body{
    padding: 0;
    margin: 0;
    background: #a09bc3;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}